body{
    background: linear-gradient(110deg, #ffbbcc, #feeecc) ;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Walter Turncoat', cursive;
    color: white;
}
body {font-family: Arial, Helvetica, sans-serif;}
            
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.card-title{
    text-align: center;
    font-family: 'Walter Turncoat', cursive;

}
.card-content.author{
    text-align: center;
}
button{
    margin-bottom: 30px;
}
button.comment{
    margin-left: 80%;
}
button.posts{
    margin-left: 45%;
}
button.learn{
    margin-left: 15px;
}

button.Submit{
    margin-left: 75%;
}

.center button.submit{
    margin-top: 30px;
}

form{
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 10vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10%;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}
button.btn{
    border-radius: 50px;
}
.profile {
    width: 10%;
    height: auto;
    border-radius: 50%;
}
@media screen and (max-width:600px){
    body{
        min-height: 500px;
    }


}