body{
    background: linear-gradient(110deg, #ffbbcc, #feeecc) ;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Walter Turncoat', cursive;
    color: white;
}
.card-title{
    text-align: center;
}
.card-content.author{
    text-align: center;
}
button{
    margin-bottom: 30px;
}
button.comment{
    margin-left: 80%;
}
button.posts{
    margin-left: 45%;
}
button.learn{
    margin-left: 15px;
}

button.Submit{
    margin-left: 75%;
}

.center button.submit{
    margin-top: 30px;
}

form{
    max-width: 550px;
    width: 90%;
    background: white;
    margin: 10vh auto 0 auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 10%;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #D3D3D3;
}

@media screen and (max-width:600px){
    body{
        min-height: 500px;
    }


}