<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="Blog_Details.css">
        <link rel="icon" type="image/x-icon" href="logo.png">
        <title>Nirasha</title>
    </head>
    <body>
        <!--Nav Bar Begin-->
        <header>
            <nav class="nav-wrapper pink lighten-4">
                <div class="container">
                    <a href="" class="brand-logo">Nirasha Silva
                        <!--<img src="logo.png" alt="">-->
                    </a>
                    <a href="" class="sidenav-trigger" data-target="mobile-menu">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="Home.html">
                            <i class="material-icons">home</i>
                        </a></li>
                        <li><a href="About.html">About</a></li>
                        <li><a href="Portfolio.html">Portfolio</a></li>
                        <li><a href="Blog.html">Blog</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                    </ul>
                    <ul class="sidenav pink lighten-4" id="mobile-menu">
                        <li><a href="Home.html">
                            <i class="material-icons">home</i>
                        </a></li>
                        <li ><a href="About.html">About</a></li>
                        <li><a href="Portfolio.html">Portfolio</a></li>
                        <li><a href="Blog.html">Blog</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--BP Section-->
        <section class="container section" id="blogpage">
            <!--BP Image Section-->
            <h1 class="blogpageimg" id="blogpageimg">Maldives</h1>
            <div class="row">
                <div class="row-2">
                    <div class="col s12 l6 ">
                        <div class="slider">
                            <ul class="slides">
                                <li>
                                    <img src="Maldives1.jpg"> 
                                </li>
                                <li>
                                    <img src="Maldives2.jpg"> 
                                </li>
                                <li>
                                    <img src="Maldives3.jpg"> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Details Section-->
            <div class="row">
                <div class="col s12 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Maldives</span>
                            <p class="image">Home to 1,192 coral islands, the tropical paradise of Maldives country lies in the Indian Ocean to the southern side of Sri Lanka. </p>
                            <br>
                            <p class="image">The islands sheltered in this archipelago are categorized into natural atolls, most of which remain uninhabited. Floating on serene ocean waters, this island nation makes for the perfect getaway for leisure seekers away from the chaos and anxiety of city life.</p>
                            <br>
                            <p class="image">The Maldives tourism is known popularly across the globe for its pristine white sandy beaches, blooming reef fishes, crystalline lagoons, palm-fringed islands, and lavish water villas. The virgin beauty of this archipelago can be defined by its azure waves crashing against the shore with an enchanting noise and an attractive school of manta rays, reef sharks, and corals gracing its underwater world.</p>
                            <br>
                            <p class="image">The Maldives country is packed with a plethora of world-famous attractions, which pledge to lure honeymooners and leisure holidaymakers. While HP Reef and Banana Reef make for the best diving destinations, Mulee’age Palace and National Museum offer an insight of the glorious past of the Maldives. While the Grand Friday Mosque and Islamic Centre take the tourists closer to spirituality, Majeedhee Magu and STO Trade Centre make for amazing shopping destinations.</p>
                            <br>
                            <p class="image">The islet country of Maldives has in store all types of fun-filled and thrilling activities for every kind of tourist. While the adventure seekers can engage in snorkeling and catamaran sailing on Bandos Island, the romance seekers can enjoy a couple massage and a candlelight dinner on Villingili Resort Island. While the shoppaholics can go on a shopping spree to the famous Male Local Market, the foodies can dine with a view at  Ithaa Undersea Restaurant.</p>
                            <br>
                            <p class="image">The Maldives tourism is characterized by a hot tropical climate with two dominating and distinct seasons - wet season (May to October) and dry season (November to April). While the dry season is marked by clear skies, bright sun, sporadic rainfall, and calm sea, the wet season is marked by tropical storms and heavy rainfall. The most ideal time to visit the Maldives is the dry season, which is ideal for enjoying water sports, sunbathing, and street shopping. </p>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col s12 l12">
                                    <div class="btn__container">
                                        <a href="https://www.facebook.com/" class="btn-f">
                                            <i class="material-icons">facebook</i>
                                            <span>facebook</span>
                                        </a>
                                        <a href="https://www.instagram.com/" class="btn-instagram">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            <span>instagram</span>
                                        </a>
                                        <a href="https://mail.google.com/mail/u/0/" class="btn-g">
                                            <i class="material-icons">gmail</i>
                                            <span>gmail</span>
                                        </a>
                                    </div>         
                                </div>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
            <!--Author Details Section-->
            <div class="row">
                <div class="col s12 l12">
                    <div class="card center-align">
                        <div class="card-content author">
                            <img src="Profile.jpg" alt="" class="profile">
                            <span class="card-title">Author's Details</span>
                            <P>Name: Nirasha Silva</P>
                            <p>Age: 21</p>
                            <p>Country: Sri Lanka</p>
                        </div>
                    </div>           
                </div>
            </div>
            <!--Related Posts Button-->
            <button class="btn pink lighten-4 waves-effect waves-light posts" id="myBtn">Related Posts</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>
                        <a href="https://www.thrillophilia.com/countries/maldives">Maldives Tourism: Places, Best Time & Travel Guides 2023</a>
                    </p>
                    <p>
                        <a href="https://visitmaldives.com/">Visit Maldives - The Sunny Side of Life</a>
                    </p>
                    <p>
                        <a href="https://www.tripadvisor.com/Tourism-g293953-Maldives-Vacations.html">Best Places to Visit in Maldives (2023)</a>
                    </p>
                </div>
            </div>
            
            <!--Comment DOwn Details Section-->
            <section id="app">
                <div class="container comment">
                    <div class="row">
                        <div class="col-6">
                            <div class="comment">
                                <p v-for="items in item" v-text="items"></p>
                            </div><!--End Comment-->
                        </div><!--End col -->
                    </div><!-- End row -->
                    <div class="row center-align">
                        <div class="col-6">
                            <h3>Comment down below</h3>
                            <i class="material-icons prefix">comment</i>
                            <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()">
                            </textarea>
                            <button v-on:click="addItem()" class='primaryContained pink lighten-4 waves-effect waves-light center-align' type="submit">Add Comment</button>
                        </div><!-- End col -->
                    </div><!--End Row -->
                </div><!--End Container -->
                <a href="Portfolio.html">
                    <button class="btn pink lighten-4 waves-effect waves-light learn">Learn More</button>
                </a>
                <!--Newsletter-->
                <div class="wrapper right">
                    <input type="checkbox" id="click">
                    <label for="click" class="btn-1 pink lighten-4 waves-effect waves-light">SUBSCRIBE</label>
                    <div class="field">
                      <input type="text" placeholder="Email Address">
                      <label for="click" class="btn-2 pink lighten-4 waves-effect waves-light ">SUBSCRIBE</label>
                    </div>
                </div>

            </section><!-- end App -->
        </section>

        <!--Footer-->
        <footer class="page-footer pink lighten-4">
            <h1 class="contact" id="contact">Contact Us <br>
                <img src="logo.png" alt="">
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col s12 l4 black-text">
                        <h5><b>Email Address</b></h5>
                        <a href="mailto:nirashat@efuturesworld.com" class="white-text">
                            <p>
                                <i class="material-icons blue">
                                    email
                                </i>
                                nirashat@efuturesworld.com
                            </p>
                        </a>
                    </div>
                    <div class="col s12 l4 black-text">
                        <h5><b>Phone number</b></h5>
                        <a href="tel:+94763275371" class="white-text">
                            <p>
                                <i class="material-icons blue">
                                    phone
                                </i>
                                +94 76327 5371
                            </p>
                        </a>
                        <a href="tel:+94112581980" class="white-text">
                            <p>
                                <i class="material-icons blue">
                                    phone
                                </i>
                                +94 11258 1980
                            </p>
                        </a>
                    </div>
                    <div class="col s12 l4 black-text">
                        <h5><b>Social Media</b></h5>
                        <a href="https://www.linkedin.com/in/nirasha-silva/">
                            <img src="linkedin.png" alt="">
                        </a>
                        <a href="https://www.instagram.com/">
                            <img src="instagram.png" alt="">
                        </a>
                        <a href="https://wa.me/94763275371">
                            <img src="whatsapp.png" alt="">
                        </a>
                        <p>
                            <a href="mailto:nirashat@efuturesworld.com">
                                <img src="gmail.png" alt="">
                            </a>
                            <a href="https://join.skype.com/invite/iaiBe357cmB5">
                                <img src="skype.png" alt="">
                            </a>
                        </p>
                    </div>
                    <div class="container center-align">
                        <a href="Contact.html">
                            <button class="btn blue white-text waves-effect waves-light">Contact</button>
                        </a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="About.html">About</a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="Portfolio.html">Portfolio</a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="Blog.html">Blog</a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="Contact.html">Contact</a>
                    </div>

                </div>
            </div>
            <div class="footer-copyright white-text pink lighten-3">  
                <p>
                    <div class="container left-align">Copyright &copy; 2023</div>
                </p>   
                <div class="col s12 l3 lighten-4">
                    <a href="#">Terms & Conditions</a>
                </div> 
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });

            $(document).ready(function(){
                $('.slider').slider();
            });
        </script>
        <script src="RelatedPosts_Modal.js"></script>
        <!-- Vue JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
        <script>
            $(document).ready(function(){ 
                $(".primaryContained").on('click', function(){
                    $(".comment").addClass("commentClicked");
                });//end click
                $("textarea").on('keyup.enter', function(){
                    $(".comment").addClass("commentClicked");
                });//end keyup
            });//End Function
            
            new Vue({
                el: "#app",
                data:{
                    title: 'Add a comment',
                    newItem: '',
                    item: [],
                },
                methods:{
                    addItem  (){
                        this.item.push(this.newItem);
                        this.newItem = "";
                    }
                }
            });
        </script>
    </body>
</html>