<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="Blog_Details.css">
        <link rel="icon" type="image/x-icon" href="logo.png">
        <title>Nirasha</title>
    </head>
    <body>
        <!--Nav Bar Begin-->
        <header>
            <nav class="nav-wrapper pink lighten-4">
                <div class="container">
                    <a href="" class="brand-logo">Nirasha Silva
                        <!--<img src="logo.png" alt="">-->
                    </a>
                    <a href="" class="sidenav-trigger" data-target="mobile-menu">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="Home.html">
                            <i class="material-icons">home</i>
                        </a></li>
                        <li><a href="About.html">About</a></li>
                        <li><a href="Portfolio.html">Portfolio</a></li>
                        <li><a href="Blog.html">Blog</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                    </ul>
                    <ul class="sidenav pink lighten-4" id="mobile-menu">
                        <li><a href="Home.html">
                            <i class="material-icons">home</i>
                        </a></li>
                        <li ><a href="About.html">About</a></li>
                        <li><a href="Portfolio.html">Portfolio</a></li>
                        <li><a href="Blog.html">Blog</a></li>
                        <li><a href="Contact.html">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--BP Section-->
        <section class="container section" id="blogpage">
            <!--BP Image Section-->
            <h1 class="blogpageimg" id="blogpageimg">Singapore</h1>
            <div class="row">
                <div class="row-2">
                    <div class="col s12 l6 ">
                        <div class="slider">
                            <ul class="slides">
                                <li>
                                    <img src="Singapore1.jpg"> 
                                </li>
                                <li>
                                    <img src="Singapore2.jpg"> 
                                </li>
                                <li>
                                    <img src="Singapore3.jpg"> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Details Section-->
            <div class="row">
                <div class="col s12 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Singapore</span>
                            <p class="image">Singapore ,officially the Republic of Singapore, is an island country and city-state in maritime Southeast Asia</p>
                            <br>
                            <p class="image">Sentosa is an island resort off Singapore’s southern coast, connected to the city by road, cable car, pedestrian boardwalk and monorail. By Sentosa Station, Tiger Sky Tower has panoramic views that can stretch as far as Indonesia. On the south coast, Palawan Beach is lined with food stalls and bars, and has a suspension bridge to a small offshore island</p>
                            <br>
                            <p class="image">Sentosa can be reached from the Singapore mainland via a short causeway or Cable Car, which originates from Mount Faber and passes through HarbourFront en route to its final destination at Imbiah Lookout.</p>
                            <br>
                            <p class="image">Ideally positioned in South-east Asia, where the rest of the region is just a hop, skip and jump away, Singapore is a thriving metropolis offering a world-class infrastructure, a fully integrated island-wide transport network, dynamic business environment, vibrant living spaces and a rich culture largely influenced by the four major communities in Singapore with each offering different perspective of life in Singapore in terms of culture, religion, food, language and history.</p>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col s12 l12">
                                    <div class="btn__container">
                                        <a href="https://www.facebook.com/" class="btn-f">
                                            <i class="material-icons">facebook</i>
                                            <span>facebook</span>
                                        </a>
                                        <a href="https://www.instagram.com/" class="btn-instagram">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            <span>instagram</span>
                                        </a>
                                        <a href="https://mail.google.com/mail/u/0/" class="btn-g">
                                            <i class="material-icons">gmail</i>
                                            <span>gmail</span>
                                        </a>
                                    </div>         
                                </div>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
            <!--Author Details Section-->
            <div class="row">
                <div class="col s12 l12">
                    <div class="card">
                        <div class="card-content author">
                            <img src="Profile.jpg" alt="" class="profile">
                            <span class="card-title">Author's Details</span>
                            <P>Name: Nirasha Silva</P>
                            <p>Age: 21</p>
                            <p>Country: Sri Lanka</p>
                        </div>
                    </div>           
                </div>
            </div>
            <!--Related Posts Button-->
            <button class="btn pink lighten-4 waves-effect waves-light posts" id="myBtn">Related Posts</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>
                        <a href="https://www.visitsingapore.com/en/">Passion Made Possible - Visit Singapore Official Site</a>
                    </p>
                    <p>
                        <a href="https://www.lonelyplanet.com/singapore">Singapore travel - Lonely Planet | Asia</a>
                    </p>
                    <p>
                        <a href="https://www.tripadvisor.com/Attractions-g294265-Activities-Singapore.html">THE 15 BEST Things to Do in Singapore - Tripadvisor</a>
                    </p>
                </div>
            </div>

            <!--Comment DOwn Details Section-->
            <section id="app">
                <div class="container comment">
                    <div class="row">
                        <div class="col-6">
                            <div class="comment">
                                <p v-for="items in item" v-text="items"></p>
                            </div><!--End Comment-->
                        </div><!--End col -->
                    </div><!-- End row -->
                    <div class="row center-align">
                        <div class="col-6">
                            <h3>Comment down below</h3>
                            <i class="material-icons prefix">comment</i>
                            <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()">
                            </textarea>
                            <button v-on:click="addItem()" class='primaryContained pink lighten-4 waves-effect waves-light center-align' type="submit">Add Comment</button>
                        </div><!-- End col -->
                    </div><!--End Row -->
                </div><!--End Container -->
                <a href="Portfolio.html">
                    <button class="btn pink lighten-4 waves-effect waves-light learn">Learn More</button>
                </a>
                <!--Newsletter-->
                <div class="wrapper right">
                    <input type="checkbox" id="click">
                    <label for="click" class="btn-1 pink lighten-4 waves-effect waves-light">SUBSCRIBE</label>
                    <div class="field">
                      <input type="text" placeholder="Email Address">
                      <label for="click" class="btn-2 pink lighten-4 waves-effect waves-light ">SUBSCRIBE</label>
                    </div>
                </div>

            </section><!-- end App -->
        </section>
        
        <!--Footer-->
        <footer class="page-footer pink lighten-4">
            <h1 class="contact" id="contact">Contact Us <br>
                <img src="logo.png" alt="">
            </h1>
            <div class="container">
                <div class="row">
                    <div class="col s12 l4 black-text">
                        <h5><b>Email Address</b></h5>
                        <a href="mailto:nirashat@efuturesworld.com" class="white-text">
                            <p>
                                <i class="material-icons blue">
                                    email
                                </i>
                                nirashat@efuturesworld.com
                            </p>
                        </a>
                    </div>
                    <div class="col s12 l4 black-text">
                        <h5><b>Phone number</b></h5>
                        <a href="tel:+94763275371" class="white-text">
                            <p>
                                <i class="material-icons blue">
                                    phone
                                </i>
                                +94 76327 5371
                            </p>
                        </a>
                        <a href="tel:+94112581980" class="white-text">
                            <p>
                                <i class="material-icons blue">
                                    phone
                                </i>
                                +94 11258 1980
                            </p>
                        </a>
                    </div>
                    <div class="col s12 l4 black-text">
                        <h5><b>Social Media</b></h5>
                        <a href="https://www.linkedin.com/in/nirasha-silva/">
                            <img src="linkedin.png" alt="">
                        </a>
                        <a href="https://www.instagram.com/">
                            <img src="instagram.png" alt="">
                        </a>
                        <a href="https://wa.me/94763275371">
                            <img src="whatsapp.png" alt="">
                        </a>
                        <p>
                            <a href="mailto:nirashat@efuturesworld.com">
                                <img src="gmail.png" alt="">
                                <a href="https://join.skype.com/invite/iaiBe357cmB5">
                                    <img src="skype.png" alt="">
                                </a>
                            </a>
                        </p>
                    </div>
                    <div class="container center-align">
                        <a href="Contact.html">
                            <button class="btn blue white-text waves-effect waves-light">Contact</button>
                        </a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="About.html">About</a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="Portfolio.html">Portfolio</a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="Blog.html">Blog</a>
                    </div>
                    <div class="col s12 l3 lighten-4 center-align">
                        <a href="Contact.html">Contact</a>
                    </div>

                </div>
            </div>
            <div class="footer-copyright white-text pink lighten-3">  
                <p>
                    <div class="container left-align">Copyright &copy; 2023</div>
                </p>   
                <div class="col s12 l3 lighten-4">
                    <a href="#">Terms & Conditions</a>
                </div> 
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.sidenav').sidenav();
            });

            $(document).ready(function(){
                $('.slider').slider();
            });
        </script>
        <script src="RelatedPosts_Modal.js"></script>
        <!-- Vue JS -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
        <script>
            $(document).ready(function(){ 
                $(".primaryContained").on('click', function(){
                    $(".comment").addClass("commentClicked");
                });//end click
                $("textarea").on('keyup.enter', function(){
                    $(".comment").addClass("commentClicked");
                });//end keyup
            });//End Function
            
            new Vue({
                el: "#app",
                data:{
                    title: 'Add a comment',
                    newItem: '',
                    item: [],
                },
                methods:{
                    addItem  (){
                        this.item.push(this.newItem);
                        this.newItem = "";
                    }
                }
            });
        </script>
    </body>
</html>